@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}


#banner{
    height: 100vh;
    background: #EAF9EB;
    display: flex;
    align-items: center;
}

.text-banner{
    text-align: center;

}


.text-banner p{
    padding: 20px;
    font-size: 30px;
    
}
.text-banner img{
    height: 340px;
    width: 400px;
    margin-bottom: 20px;
}

.text-banner a{
    margin-top: 100px;
}
.text-banner .view{
    text-decoration: none;
    color: black;
    background-color: pink;
    padding-left: 100px;
    padding-right:100px ;
    padding-top: 10px;
    padding-bottom:10px ;
    border-radius: 5px;
    font-size: 30px;
   

}



.text-banner .view:hover{
    background: black;
    color: pink;
}

/* end banner */


.nav-top{
    display: flex;
    height: 80px;
    justify-content: space-between;
    border-bottom:2px solid gray ;
    align-items: center;
}
.nav-top .tital-logo h1{
    color:#226B1C ;
}



.tital-logo h1{
    font-size: 3rem;
    font-family:"Courgette" ;
}

.nav-contact {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width:100px ;
    
    
}

.nav-buttom {

    /* background: red; */
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    height: 50px;
    align-items: center;
   
    
}

.nav-buttom .namesystem p{
    font-size:25px;
    
}

.nav-buttom .statususer p{
    font-size:25px;
    
}

.navmenu {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    /* background: rosybrown; */
    
    width: auto;
    
}

.navmenu li{
    list-style: none;
    font-size: 25px;
    transition: .3s;
    
}

.navmenu li:hover{
    transform: translateY(-7px);
  
    
}

.navmenu li a{
    text-decoration: none;
    color: black;
    transition: .3s;
}

.navmenu li a:hover{
    border-bottom: 1px solid black;
}

/* end nav */

#AddDocument{
    height: auto;
    width: auto;
    background: url(../img/k4.jpg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-size: cover;
}

.frameitemAddD{
    display: flex;
    justify-content: center;
    
    background-size:cover ;
    
}

.itemAddD{
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 550px;
    /* width: 600px; */
    border-radius: 10px;
    background: #A6D1A2;
}

.itemAddD .inputdoc input{
    right: 40px;
    padding-right: 50px;
    

}

.itemAddD .addsub  {
    width: 350px;
    padding: 25px;
    justify-content: center;
    justify-content: space-between;
    display: flex;
}
.inputdoc{
    padding: 15px;
    width: 400px;
    display: flex;
    
    justify-content:space-between;
}


.addsub .submit{
    border: 1px solid green;
    background:#91DE8B ;
    height: 30px;
    width: 70px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.addsub .cancel{
    border: 1px solid red;
    background:#FB7171 ;
    height: 30px;
    width: 70px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.addsub a:hover{
    background: honeydew;
}




.itemAddD  h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.itemAddD label{
    font-size: 25px;
    
}

.addpdf a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#footerAddD{
    margin-top: 2px;
}
#footerAddD .footer1{
    border: 2px solid green;
    border-radius: 7px;
    height: 213px;
    /* background: #A3F19C; */
    background: #A6D1A2;
}

/* flex  */
#tour{
    height: 400px;
}

.flex-user-item{
    width: 100%;
    height: 765px;
    background: grey;
    position: relative;
    transition: .3s;
    cursor: pointer;
}

.flex-user-item h1{
    padding: 30px;
    padding-left: 100px;
    font-size: 40px;
}

.flex-user-item #myBtn{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: pink;
    padding: 4px;
    border-radius: 5px;
    transition: .3s;}
.flex-user-item #myBtn{
    font-size: 25px;
    }

.flex-user-item #myBtn:hover{
        transform: translate(-10px);
        box-shadow: 3px 10px 20px rgba(0,0,0,0.3) ;
    }
.modal-footer{
    margin-top: 20px;
    height: 30px;
}

/*Documenttype  */
.flex-user-item #addcategory{
    position: absolute;
    bottom: 1rem;
    right: 200px;
    background: pink;
    padding: 4px;
    border-radius: 5px;
    transition: .3s;}
    
.flex-user-item #addcategory{
    font-size: 25px;
    margin-right: 100px;
    }

.flex-user-item #addcategory:hover{
        transform: translate(-10px);
        box-shadow: 3px 10px 20px rgba(0,0,0,0.3) ;
    }

.flex-user-item  a{
    text-decoration: none;
    color: black;
}

.flex-user-item .Editdocument-item .Editdocument{
    display: flex;
    justify-content:space-between;
}

.Editdocument{
    padding-left: 200px;
}
.Editdocument p{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    padding: 2px;
}
.Editdocument a{
    background:#A6D1A2 ;
    margin-right: 200px;
    font-size: 30px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 2px;
   
}
/* user button */

.edituser{
    display: flex;
    justify-content:space-between;
    padding-left: 200px;
}


.edituser p{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    padding: 2px;
}

.edituser a{
    background:#A6D1A2 ;
    margin-right: 200px;
    font-size: 30px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 2px; 
}





